img {
    width: 300px;
}

.cheese-count {
    border-radius: 10px;
    border: 2px black solid;
    margin: 3px;
    box-shadow: 5px 5px 5px 5px gray;
}

.stats-count {
    border-radius: 10px;
    border: 2px black solid;
    background-color: gray;
    box-shadow: 5px 5px 5px 5px black;

}

.health-container {
    background-color: white;
    width: 100%;
    text-align: center;
}

.health {
    background-color: red;
    width: 90%;
    color: red;
}

body {
    background-image: url(https://images.unsplash.com/photo-1502134249126-9f3755a50d78?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fHNwYWNlfGVufDB8fDB8fHww&auto=format&fit=crop&w=800&q=60);
}

.moon-title {
    font-family: cursive;
    font-size: 60px;
}